import { Styles } from 'material-ui'

export default {
    contestTitle: 'SiBears Classic CTF Training',
    primary1Color: Styles.Colors.red500,
    accent1Color: Styles.Colors.red500,
    headerColor: Styles.Colors.white,
    indexTitle: 'SiBears Classic CTF Training',
    indexDescription: 'Welcome to training scoreboard'
}
