.emoji {
    height: 1.2em;
    vertical-align: middle
}

.themis-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.themis-table > tbody > tr > td,
.themis-table > thead > tr > th {
    padding: 6px;
    line-height: 1.4;
    vertical-align: middle;
    border-top: 1px solid #ddd
}

.themis-table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.themis-table > thead:first-child > tr:first-child > th {
    border-top: 0
}

.themis-table > thead > tr > th {
    text-align: left
}

.themis-position {
    font-weight: bold
}

.themis-position-gold {
    color: #d4af37
}

.themis-position-silver {
    color: #c0c0c0
}

.themis-position-bronze {
    color: #cd7f32
}

.themis-service-state {
    padding: 4px 8px
}

.themis-service-state-down {
    color: #c7254e;
    background-color: #f9f2f4
}

.themis-service-state-up {
    color: #3c763d;
    background-color: #f4f9f2
}

.themis-service-state-corrupt {
    color: #8a6d3b;
    background-color: #f9f9f2
}

.themis-service-state-mumble {
    color: #31708f;
    background-color: #f2f4f9
}

.themis-service-state-other {
    color: #777;
    background-color: #f4f4f4
}

.themis-team-other {
}

.themis-team-marked {
    font-weight: bold
}

.themis-score-points {
    font-size: 0.8em
}

.themis-score-last-attack {
    font-size: 0.8em
}

.themis-text-normal {
}

.themis-text-muted {
    color: #777
}

.themis-team-guest {
    font-size: 0.8em;
    padding: 2px 4px;
    color: #777;
    background-color: #f4f4f4
}

.themis-team-logo {
    width: 36px;
    height: 36px;
    vertical-align: middle
}

.themis-contest-state {
    padding: 4px 8px;
    margin: 0 10px
}

.themis-contest-state-running {
    color: #3c763d;
    background-color: #f4f9f2
}

.themis-contest-state-other {
    color: #777;
    background-color: #f4f4f4
}

.themis-contest-state-paused {
    color: #8a6d3b;
    background-color: #f9f9f2
}

.themis-contest-state-await-complete {
    color: #ff5722;
    background-color: #fbe9e7
}

.themis-contest-state-completed {
    color: #f44336;
    background-color: #ffebee
}

.themis-contest-round {
    padding: 4px 8px;
    margin: 0 10px;
    color: #673ab7;
    background-color: #ede7f6
}
