html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 80px
}

.emoji {
    vertical-align: middle;
    max-height: 36px;
}

.themis-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.themis-table > tbody > tr > td,
.themis-table > thead > tr > th {
    padding: 6px;
    line-height: 1.4;
    vertical-align: middle;
    border-top: 1px solid #ddd
}

.themis-table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.themis-table > thead:first-child > tr:first-child > th {
    border-top: 0
}

.themis-table > thead > tr > th {
    text-align: left
}

.themis-position {
    font-weight: bold
}

.themis-position-gold {
    color: #d4af37
}

.themis-position-silver {
    color: #c0c0c0
}

.themis-position-bronze {
    color: #cd7f32
}

.themis-team-other {
}

.themis-team-marked {
    font-weight: bold
}

.themis-score-points {
    font-size: 0.7em
}

.themis-score-last-attack {
    font-size: 0.7em
}

.themis-text-normal {
}

.themis-text-muted {
    color: #777
}

.themis-team-guest {
    font-size: 0.8em;
    padding: 2px 4px;
    color: #777;
    background-color: #f4f4f4
}

.themis-team-logo {
    width: 40px;
    height: 40px;
    vertical-align: middle
}

.themis-post > p {
    margin: 0;
    line-height: 1.5em;
}
